doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Updates
        a(href='/') Return To Homepage
        input(type="text", name="name", placeholder="Ferry Name")
        input(type="text", name="port", placeholder="Port")
        input(type="text", name="ext_ferry_id", placeholder="Ferry ID (required)")
        p Water Body Type - Select all that apply
        p Lake
        input(type="checkbox", name="Lake")